* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(to right, rgba(255, 115, 0, 0.53), rgba(128, 128, 128, 0.554));
}

button {
  font-size: 30px;
  cursor: pointer;
}

.calculater-grid {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
  margin-left: 100px;
}

.calculations {
  background-color: rgb(233, 155, 11);
}

.number-0 {
  grid-column: 1/3;
}

.previous-operand {
  grid-column: 1/-1;
  grid-row: 1/-8;
  font-size: 30px;
  border: 3px solid;
  outline: 0;
  background-color: gray;
}
